<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카테고리</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            let errorMessage = /*[[${errorMessage}]]*/ "";
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });

        //페이징 처리
        function page(categoryName,page){
            location.href="/categoryItem/" + categoryName + "/" + page;
        }

    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        *ul{

        }
    </style>
</th:block>

<div th:replace="fragments/header :: header"></div>

<div th:fragment="content">
    <center>
        <div class="category">
            <br>
            <h2 >카테고리 : [[${categoryName}]]</h2>
            <br>
        </div>
    </center>

    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="items">
        <th:block th:each="item : ${categoryItems}">
            <div class="card">
                <!-- Product image-->
                <img th:src="${item.itemImage}" class="card-img-top" th:alt="${item.itemName}" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">[[${item.itemName}]]</h5>
                        <p class="price">[[${item.itemPrice}]]원</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="'/item/' + ${item.itemNum}">상세보기</a></div>
                </div>
            </div>
        </th:block>
    </div>

    <!-- 페이징 네비게이션 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${pageHandler.firstPage} ? 'disabled'">
                <a class="page-link" th:href="@{/categoryItem/{categoryName}(categoryName=${categoryName})} + '?page=' + ${pageHandler.beginPage - 1} + '&pageSize=' + ${pageHandler.pageSize}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <th:block th:each="i : ${#numbers.sequence(pageHandler.beginPage, pageHandler.endPage)}">
                <li class="page-item" th:classappend="${pageHandler.page == i} ? 'active'">
                    <a class="page-link" th:href="@{/categoryItem/{categoryName}(categoryName=${categoryName})} + '?page=' + ${i} + '&pageSize=' + ${pageHandler.pageSize}">[[${i}]]</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${pageHandler.lastPage} ? 'disabled'">
                <a class="page-link" th:href="@{/categoryItem/{categoryName}(categoryName=${categoryName})} + '?page=' + ${pageHandler.endPage + 1} + '&pageSize=' + ${pageHandler.pageSize}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>


</html>
